/*
Aufgabe: Aufgabe 2
Name: Michelle Zeiﬂner
Matrikel: 
Datum: 18.10.2018
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/
